.music-preview {
  .image {
    padding: 0;
    height: 200px;
    overflow: hidden;
  }
  .card-body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 10px;
  }
}