@import './globals.scss';

.hamburger {
  font-size: 3rem;
  color: $dalga-blue;
  float: right;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $dalga-blue;
  background-color: fade($dalga-blue, 0.1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $link-color;
  display: block;
  transition: 0.3s;
  font-family: 'Josefin Sans', sans-serif;

}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  path {
    transition: all 0.3s;
    stroke: $link-color;
  }
  &:hover {
    path {
      stroke: white;
    }
  }
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
}