.social {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 2rem;
    transition: color 0.2s;
    &:hover {
      color: skyblue;
    }
  }
  &.vertical {
    flex-direction: column;
    height: 280px;
  }  
  &:not(.vertical) {
    // width: 100%;
  }
  &.sticky {
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
  &, svg {
    &, path {
      mix-blend-mode: difference;
    }
  }
}

